<div class="container">
  <div class="row">
    <div class="col s12 l8 col-centered">
      <div class="card">
        <div class="chat-list">
          <div class="chat-messages">
            <div *ngFor="let message of conversation" [ngClass]="{ 'me-div' : message.from == 'Me', 'bot-div' : message.from == 'Bot' }">
              <div class="inline" *ngIf="message.from == 'Me'">
                <i class="mdi mdi-human"></i>
              </div>
              <div class="inline" [ngClass]="{ 'chat-me-message' : message.from == 'Me', 'chat-bot-message' : message.from == 'Bot' }"> <span [innerHTML]="message.content"></span> </div>
              <div class="inline" *ngIf="message.from == 'Bot'">
                <i class="mdi mdi-laptop-windows"></i>
              </div>
            </div>
          </div>
          <div class="input-field chat-input">
              <input type="text" 
                     #message
                     id="chat-message"
                     class="chat-input-box"
                     maxlength="256" 
                     placeholder="Message" 
                     (keyup.enter)="addMessageFromUser(message)">
              <i class="mdi mdi-eye plt-icon suffix" style="line-height:64px" (click)="addMessageFromUser(message)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

